.review-section
  padding: 20px
  background-color: #eeeeee
  border-radius: 10px
  margin-bottom 15px

.dashboard-menu
  list-style: none
  padding: 10px
  li
    padding: 10px
    background-color: #003366
    margin: 2px
    border-radius: 5px
    a
      color: #f0f8ff
      text-decoration: none

.dashboard-reviwer-name
  color: #003366

.dashboard-show-banner
  cursor: pointer

.dashboard-review-banner
  display: none
