@require '~normalize-styl'

html, body
  height 100%

box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

canvas#c
  border 1px dashed #ff9e2a
  box-shadow -16px 18px 95px -23px rgba(0, 0, 0, 0.75)

.block
  display block

.fontpack, .sizepack
  display inline-block
  float right
  min-width 20%

.wrapper
  height 100%
  display flex
  flex-wrap wrap
  flex-direction row
  justify-content flex-start
  align-items flex-start

.column_aside
  flex 1
  order 1
  flex-basis 100%
  height 99.5%

  display flex
  flex-wrap wrap
  flex-direction column
  align-items stretch
  border 2px solid #000000
  position relative

  section
    flex-basis 11%
    text-align center
    align-content center
    position relative

    a
      color #000000
      text-decoration none

  span
    display block

section.last-sec
  margin-top auto
  margin-bottom 0

section.with_menu:hover > #rightcol
  display block

.container
  order: 2
  flex-basis 100%
  height 100%

.navigation
  display flex
  flex-direction row
  align-items center
  align-content center
  border 2px solid #000000
  border-left 0
  a
    padding 30px 50px
    justify-content flex-start
    color #000000
    text-decoration none

    i
      vertical-align text-bottom

  a.special
    text-align right
    margin-left auto
    padding-right 20px

@media (min-width: 600px)
  .wrapper
    flex-wrap nowrap

  .column_aside
    flex-basis 12%
    order 1

  .container
    flex-basis 88%
    order 2

.container-content
  margin 10%

canvas#main
  border 2px solid #000000

#backgroundsContainer
  position: absolute
  left: 225px
  top: 0
  border: 1px solid black
  background-color: white
  #backgroundsList
    list-style: none
    padding: 0
    height: 400px
    overflow: hidden
    overflow-y: scroll
    img
      border: 2px solid black
      height: 100px
      width: 100px

#rightcol
  display none
  position absolute
  background-color #ffffff
  border 2px solid #000
  width 300%
  text-align left
  padding-left 10px
  top -3%
  left 101%
  z-index 2

  ul
    list-style-type none

  li
    line-height 200%
    cursor pointer

  .head1
    font-size 24px

  .head2
    font-size 18px

  .head3
    font-size 12px

#inputted
  display none

.login_block div
  margin: 20px
  list-style: none

.login_block div a
  font-size: 2em

.logout
  padding-top: 12px
  padding-bottom: 10px

.hidden
  display: none

.modal
  display none
  position fixed
  z-index 1
  padding-top 100px
  left 0
  top 0
  width 100%
  height 100%
  overflow auto
  background-color rgb(0, 0, 0)
  background-color rgba(0, 0, 0, 0.4)

.modal-content
  position: relative
  background-color: #fefefe
  margin: auto
  padding: 0
  border: 1px solid #888
  width: 80%
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  -webkit-animation-name: animatetop
  -webkit-animation-duration: 0.4s
  animation-name: animatetop
  animation-duration: 0.4s

  img
    display block
    margin 0 auto

/* Add Animation */
@-webkit-keyframes animatetop
  from {
    top: -300px
    opacity: 0
  }
  to {
    top: 0
    opacity: 1
  }


@keyframes animatetop
  from {
    top: -300px
    opacity: 0
  }
  to {
    top: 0
    opacity: 1
  }


/* The Close Button */
.close
  color: white
  float: right
  font-size: 28px
  font-weight: bold


.close:hover,
.close:focus
  color: #000
  text-decoration: none
  cursor: pointer


.modal-header
  padding: 2px 16px
  background-color: #5cb85c
  color: white


.modal-body
  padding: 2px 16px


.modal-footer
  padding: 2px 16px
  background-color: #5cb85c
  color: white

#result_review, #continue
  display none

.box-like-a-boss
  display flex
  flex-wrap wrap
  flex-direction row-reverse
  height auto

  .box-item
    flex-basis 33%
    box-shadow 0 0 0 1px rgba(0,0,0,0.1)

    img
      height auto
      width 100%

#popup
  position fixed
  left 20%
  top 15%
  width 50%
  z-index 5
  text-align center

  button
    margin-right 10px
    width 7em
    height 2em