box-shadow(args...)
  -webkit-box-shadow args
  -moz-box-shadow args
  box-shadow args

canvas#c
  border 1px dashed #ff9e2a
  box-shadow -16px 18px 95px -23px rgba(0, 0, 0, 0.75)

.block
  display block
.fontpack, .sizepack
  display inline-block
  float right
  min-width 20%