.profile-icon-container
  img
    border-radius: 15px
    height: 250px
    width: 250px

.profile-user-info
  padding: 5px

.profile-user-info-clause
  font-weight: bold

.profile-user-info-item
  font-weight: bold
  color: dashboard-menu-color

.profile-edit-form-container
  padding: 5px
  display: none