<div id="reviewModal" class="modal" data-bazooka="sendToReview">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">×</span>
            <h2>Отправить на ревью</h2>
        </div>
        <div class="modal-body">
            <form action="{{ url_for('make_review') }}" method="post" id="braveForm">
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-6">Название баннера
                            <input type="text" name="title" class="form-control"/>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-6">Добавить комментарий
                            <textarea name="comment" id="reviewComment" class="form-control"></textarea>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="col-md-6">Выберите, кому отправить
                            <select name="designer" class="form-control">
                                <option value="0">Designer 1</option>
                                <option value="1">Designer 2</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-6">
                            <input type="submit" class="btn btn-success" value="Отправить">
                        </div>
                    </div>
                </div>
                </form>
        </div>
        <div class="modal-footer">
        </div>
    </div>
</div>