{% extends "base.html" %}
{% block title %}Создание банера{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-1 col-sm-2 col-md-2 cols-xs-2 column_aside" data-bazooka="keysListen">
                <section class="with_menu">
                    <a href="#" class="btn btn-default">
                        <i class="material-icons">text_format</i>
                    </a>
                    <div id="rightcol">
                        <h2>Выберите вариант текста</h2>
                        <ul>
                            <li class="head1" data-size="30" data-text="Header text">H1 подзаголовок</li>
                            <li class="head2" data-size="20" data-text="Header text">H2 подзаголовок</li>
                            <li class="head3" data-size="10" data-text="Header text">H3 подзаголовок
                                <hr>
                            </li>
                            <li class="head3" data-size="24" data-type="p" data-text="от 1 700 грн">Цена от для большого
                                банера
                            </li>
                            <li class="head4" data-size="15" data-type="p" data-text="от 1 700 грн">Цена от для
                                маленького
                                банера
                            </li>
                        </ul>
                    </div>
                </section>
                <section>
                    <a href="#" id="addButt" class="btn btn-default tooltipp" data-tooltip="Добавить кнопку">
                        <i class="material-icons">input</i>
                    </a>
                </section>

                <section id="backgroundSection" data-bazooka="backgroundsList"
                         data-bg-view-url="{{ url_for('background_images') }}"
                         data-bg-img-url="{{ url_for('uploaded_file', filename='') }}">
                </section>
                {% block reviewmodal %}
                    <section data-bazooka="setOriginalZoom">
                        <a href="#" data-bazooka="openReviewModal" data-url="{{ url_for('review') }}"
                           class="btn btn-default tooltipp" data-tooltip="На ревью">
                            <i class="material-icons">send</i>
                        </a>
                    </section>
                {% endblock %}

                {% block additional %}
                    <section id="double">
                        <section>
                            <a href="#" id="result_review" class="btn btn-default tooltipp"
                               data-tooltip="Посмотреть результат"><i class="material-icons">description</i></a>
                        </section>
                        <section>
                            <a href="" id="continue" class="btn btn-default tooltipp"
                               data-tooltip="Продолжить редактировать"><i
                                    class="material-icons">flip_to_back</i></a>
                        </section>
                    </section>
                {% endblock %}
                <section data-bazooka="setOriginalZoom">
                    <a href="#" class="btn btn-default tooltipp special" id="download" data-tooltip="Скачать результат"><i
                            class="material-icons">cloud_download</i></a>
                </section>

                {% block saver %}

                {% endblock %}

                <section class="last-sec">
                    <a href="#" class="btn btn-default">
                        <i class="material-icons">cloud_upload</i>
                    </a>
                    <form id="upload-file" method="post" enctype="multipart/form-data">
                        <input type="file" name="file" id='inputted'/>
                    </form>
                    <div class="rightcol2">
                        <h2>Выберите вариант загрузки</h2>
                        <div class="uploadings">
                            <div class="lm"><a href="{{ url_for ('cuts_background') }}" id="cutters"><i
                                    class="material-icons">exit_to_app</i>Нужно вырезать фон</a>
                            </div>
                            <div id="local_load" class="lm"><a href="#" id="input"><i
                                    class="material-icons">find_in_page</i>Загрузить
                                из ПК</a></div>
                            <div id="from_db" class="lm"><a><i class="material-icons">line_style</i>Загрузить из
                                базы</a>
                                <div class="list-cuted">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section data-bazooka="setGrid">
                    <a href="#" class="btn btn-default tooltipp" data-tooltip="Отобразить сетку">
                        <i class="material-icons">view_quilt</i>
                    </a>
                </section>
                <section class="counter-grid btn btn-default disabled" id="gridder">
                    <a href="#">
                        <i class="material-icons">code</i>
                        <input type="number" id="newGrid" class="form-control number-input" data-bazooka="setGridSize"
                               disabled/>
                    </a>
                </section>
                <section class="btn btn-default tooltipp" data-bazooka="setNormalZoom" data-tooltip="Увеличить">
                    <a href="#">
                        <i class="material-icons">zoom_in</i>
                    </a>
                </section>
                <section class="btn btn-default tooltipp" data-bazooka="zoomOuter" data-tooltip="Уменьшить">
                    <a href="#">
                        <i class="material-icons">zoom_out</i>
                    </a>
                </section>
                <section class="btn btn-default tooltipp" data-bazooka="setOriginalZoom" data-tooltip="Вернуть размер">
                    <a href="#">
                        <i class="material-icons">zoom_out_map</i>
                    </a>
                </section>
            </div>
            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-10" id="godparent">
                <div class="button-group">
                    <a href="#" class="btn btn-warning tooltipp" id="del_item" data-tooltip="Удаление">
                        <i class="material-icons">delete</i>
                    </a>
                    <a href="#" class="btn btn-danger tooltipp" data-bazooka="resetCanvas" data-tooltip="Очистить"><i
                            class="material-icons">cancel</i></a>
                    <a href="#" class="btn btn-default tooltipp disabled " id="undo" data-tooltip="Назад"><i
                            class="material-icons">undo</i></a>
                    <a href="#" class="btn btn-default tooltipp disabled " id="redo" data-tooltip="Вперед"><i
                            class="material-icons">redo</i></a>

                </div>
                <section class="container2 forcanvas" id="parentWrap">
                    <main class="container-content" id="childWrap" data-bazooka="redoUndo">
                        <canvas id="main" data-bazooka="deleteKeyup">
                        </canvas>
                    </main>
                </section>
            </div>
        </div>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Результат</h2>
            </div>
            <div class="modal-body">
                <img src="" alt="result of canvas" id="resulting">
            </div>
            <div class="modal-footer">
                <h3>Этот вариант сохранён.</h3>
            </div>
        </div>

    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='editorbundle.js') }}"></script>
{% endblock %}
