{% extends "editor_markuped.html" %}

{% block additional %}
    <section id="double">
        <section>
            <a href="#" id="result_review" class="btn btn-default tooltipp"
               data-tooltip="Посмотреть результат"><i class="material-icons">description</i></a>
        </section>
    </section>
{% endblock %}

{% block additional_buttons %}
        <a href="#" id="progress_saver" class="btn btn-info tooltipp" data-tooltip="Сохранить изменения"
           data-bazooka="saveToHistory" data-review="{{ id_review }}"><i
                class="material-icons">save</i></a>
{% endblock %}

{% block bazookas %}
    data-bazooka="oldToReview"
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}