{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav/favicon.ico') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500|Lobster&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
{% endblock %}

{% block navbar %}

{% endblock %}

{% block content %}
    <div class="wrapper">
        <aside class="column_aside">
            <section>
                <a href="#">
                    <i class="material-icons">usb</i>
            <span class="detail">
                Для перемещения объекта просто выберите его и перемещайте.
            </span>
                </a>
            </section>
            <section class="with_menu">
                <a href="#">
                    <i class="material-icons">sort_by_alpha</i>
            <span class="detail">
                Добавить текст
            </span>
                </a>
                <div id="rightcol">
                    <h2>Выберите вариант текста</h2>
                    <ul>
                        <li class="head1" data-size="24" data-text="Header text">H1 подзаголовок</li>
                        <li class="head2" data-size="18" data-text="Header text">H2 подзаголовок</li>
                        <li class="head3" data-size="12" data-text="Header text">H3 подзаголовок
                            <hr>
                        </li>
                        <li class="head1" data-size="24" data-type="p" data-text="от 1 700 грн">Цена от для большого
                            банера
                        </li>
                        <li class="head2" data-size="18" data-type="p" data-text="от 1 700 грн">Цена от для маленького
                            банера
                        </li>
                    </ul>
                </div>
            </section>
            <section>
                <a href="#" id="addButt">
                    <i class="material-icons">input</i>
            <span class="detail">
                Добавить кнопку
            </span>
                </a>
            </section>

            <section id="backgroundSection" data-bazooka="backgroundsList" data-bg-view-url="{{ url_for('background_images') }}"
            data-bg-img-url="{{ url_for('uploaded_file', filename='') }}">
            </section>

            <section>
                <a href="#" data-bazooka="sendToReview">
                    <i class="material-icons">done_all</i>
                    <span class="detail">Отправить на ревью</span>
                </a>
            </section>

            <section class="last-sec">
                <a href="#" id="input">
                    <i class="material-icons">cloud_upload</i>
            <span class="download-file">
                Загрузить изображение
            </span>
                </a>
                <input type="file" id='inputted'/>
            </section>
        </aside>
        <section class="container">
            {% block nav_edit %}
                <nav class="navigation">
                    <a href="#" id="to_send" data-bazooka="sendingReview"><i class="material-icons">done_all</i> Отправить на ревью</a>
                    <a href="#"><i
                            class="material-icons">insert_comment</i> Добавить коментарий для ревьюера</a>
                    <a href="#" id="result_review"><i class="material-icons">description</i>Просмотреть результат</a>
                    <a href="" id="continue"><i class="material-icons">flip_to_back</i>Продолжить редактировать</a>
                    <a href="#" class="special" id="download"><i class="material-icons">cloud_download</i> Скачать
                        баннер</a>
                </nav>
            {% endblock %}
            <main class="container-content">
                <div class="button-group">
                    <a href="#" id="del_item">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
                <canvas id="main">
                </canvas>
            </main>
        </section>
    </div>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Результат</h2>
            </div>
            <div class="modal-body">
                <img src="" alt="result of canvas" id="resulting">
            </div>
            <div class="modal-footer">
                <h3>Этот вариант сохранён.</h3>
            </div>
        </div>

    </div>
        <div id="reviewModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">×</span>
                <h2>Отправить на ревью</h2>
            </div>
            <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-6">Добавить комментарий
                                <textarea id="reviewComment" class="form-control"></textarea>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-6">Выберите, кому отправить
                                <select class="form-control">
                                    <option>Designer 1</option>
                                    <option>Designer 2</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <div class="col-md-6">
                                <button id="submitReview" class="btn btn-success">Отправить</button>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>

    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='editorbundle.js') }}"></script>
{% endblock %}