{% extends "editor_markuped.html" %}
{% block nav_edit %}
    <nav class="navigation">
        <a href="" id="progress_saver"><i class="material-icons">beenhere</i>Сохранить</a>
        <a href="#" id="result_review"><i class="material-icons">description</i>Просмотреть результат</a>
        <a href="#" class="special" id="download"><i class="material-icons">cloud_download</i> Скачать
            баннер</a>
    </nav>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename='editorbundle.js') }}"></script>
{% endblock %}