{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}

    <div class="table table-striped" class="files" id="previews">

  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
        <span class="preview"><img data-dz-thumbnail /></span>
    </div>
    <div>
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>

    <div>

        <h1>Upload new File</h1>
    <form action="" method=post enctype=multipart/form-data>

      <div><input type=file name=file >
         <input type=submit value=Upload ></div>

    </form>
{#        <button class="btn btn-primary start">#}
{#          <i class="glyphicon glyphicon-upload"></i>#}
{#          <span>Start</span>#}
{#      </button>#}
{#      <button data-dz-remove class="btn btn-warning cancel">#}
{#          <i class="glyphicon glyphicon-ban-circle"></i>#}
{#          <span>Cancel</span>#}
{#      </button>#}
{#      <button data-dz-remove class="btn btn-danger delete">#}
{#        <i class="glyphicon glyphicon-trash"></i>#}
{#        <span>Delete</span>#}
{#      </button>#}


    </div>
  </div>

</div>

{% endblock %}