{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}
{{ super() }}
<link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto:400,500|Lobster&subset=latin,cyrillic'
      rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/styles.css">
{% endblock %}

{% block page_content %}
    <div>
        <div class="row">
            <div>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <hr>
             <div id="content"></div>
                    <form class="form-inline" action="" method=post enctype=multipart/form-data>
                        <div class="form-group">
                           Width: <input type="number" name="width">
                           Height: <input type="number" name="height">
                           Title: <input type="text" name="title" required>
                        </div>
                      <div class="form-group">
                          <input type=file name=file accept="image/gif, image/jpeg, image/jpg, image/png" >
                      </div>
                        <div class="form-group">
                          <input type=submit value=Upload  role="button" >
                        </div>
                    </form>
                <hr>
        </div>
    <div class="row">
        {% for image in images %}
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
              <img src="{{ url_for('uploaded_file', filename=image.name) }}" alt="cat">
              <div class="caption">
                <h3>{{ image.title }}</h3>
                <hr>
                <p>File name:</p>
                <p>{{ image.name }}</p>
                <p>
                    <a href="#modal-dialog-delete{{ image.id }}"  data-toggle="modal"  data-modal-type="confirm" data-modal-title="Delete Property" class="btn btn-default modal-toggle" role="button" >
                        <i class="glyphicon glyphicon-trash"></i>
                         <span>Delete</span></a>
                    <a href="#modal-dialog-rename{{ image.id }}"  data-toggle="modal"  data-modal-type="confirm" data-modal-title="Delete Property" class="btn btn-default modal-toggle" role="button" >
                        <i class="glyphicon glyphicon-pencil"></i>
                         <span>Rename</span></a>
                    <a href="{{ url_for('uploaded_file', filename=image.name) }}" class="btn btn-default" role="button">Preview</a>
                    <a href="#canvas_cont" id="{{ url_for('uploaded_file', filename=image.name) }}" class="btn btn-default use" role="button">Use</a>
                </p>
                  <!-- modal caller for delete -->
                <div id="modal-dialog-delete{{ image.id }}" class="modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                             <h3>Warning !</h3>
                        </div>
                        <div class="modal-body">
                             <p>Do you want to delete this cool image?</p>
                        </div>
                        <div class="modal-footer">
                          <a href="{{ url_for('image_delete',id=image.id) }}" id="btnYes" class="btn confirm">Yes</a>
                          <a href="#" data-dismiss="modal" aria-hidden="true" class="btn secondary">No</a>
                        </div>
                      </div>
                    </div>
                </div>
                  <!-- modal dialog for rename -->
                  <div id="modal-dialog-rename{{ image.id }}" class="modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                            <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
                             <h3>Rename ?</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-inline" action="{{ url_for('image_rename',id=image.id) }}" method=post enctype=multipart/form-data>
                                <div class="form-group">
                                    New title: <input type="text" name="rename" required>
                                </div>
                                <div class="form-group">
                                    <input type=submit value=Rename  role="button" >
                                </div>
                            </form>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
    </div>
    <!-- this is added -->

            <div class="row">
            <div class="col-lg-12" id="canvas_cont">
                <canvas id="c"></canvas>
                <div class="btn-group block">
                    <input type="button" id="justaddtext" class="btn btn-success btn-lg" value="Just add text">
                    <input type="text" id="custom_text" class="input-lg" placeholder="Enter text here">
                    <div class="colorpack">
                        <label for="colors">Select font:</label>
                        <select class="form-control" id="colors">
                            <option>#2980D9</option>
                            <option>#7F8C8D</option>
                            <option>#16A085</option>
                            <option>#D35400</option>
                        </select>
                    </div>
                    <div class="widthcanvas">
                        <label for="wcanv">Select font:</label>
                        <select class="form-control" id="wcanv">
                            <option>500</option>
                            <option>900</option>
                            <option>1200</option>
                            <option>300</option>
                        </select>
                    </div>
                    <div class="fontpack">
                        <label for="fonts">Select font:</label>
                        <select class="form-control" id="fonts">
                            <option>Arial</option>
                            <option>Roboto</option>
                            <option>Lobster</option>
                            <option>Roboto Slab</option>
                        </select>
                    </div>
                    <div class="sizepack">
                        <label for="sizes">Select size:</label>
                        <select class="form-control" id="sizes">
                            <option>40</option>
                            <option>50</option>
                            <option>70</option>
                            <option>100</option>
                        </select>
                    </div>
                    <input type="file" id='input' class=" btn btn-default btn-lg"/>
                    <a class="btn btn-success btn-lg btn-block " id="download">download</a>
                </div>
            </div>
        </div>

    <!-- this is added -->
{% endblock %}


{% block scripts %}
{{ super() }}
<script src="../static/bundle.js"></script>
{% endblock %}