{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block page_content %}
    <div>
    <button id="delete-btn">сука блять</button>
        <div class="row">
            <div>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <hr>
             <div data-bazooka="header"></div>
                    <form class="form-inline" action="" method=post enctype=multipart/form-data>
                        <div class="form-group">
                           Width: <input type="number" name="width">
                           Height: <input type="number" name="height">
                           Title: <input type="text" name="title" required>
                        </div>
                      <div class="form-group">
                          <input type=file name=file accept="image/gif, image/jpeg, image/jpg, image/png" >
                      </div>
                        <div class="form-group">
                          <input type=submit value=Upload  role="button" >
                        </div>
                    </form>
                <hr>

        </div>
    <div class="row">
        <div data-bazooka="renderImages" data-header-image-array='{{ image_json }}'></div>
        </div>
    </div>

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="../static/bundle.js"></script>
<script src="../static/js/deleteImage.js"></script>
{% endblock %}