{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-sm-3 col-md-3 col-lg-2">
            <ul class="nav nav-pills nav-stacked left-menu">
                <li class="{{active_endpoint('dashboard')}}">
                    <a href="{{ url_for('dashboard') }}">Главная</a>
                </li>
                <li class="{{active_endpoint('dashboard_user_banners')}}">
                    <a href="{{ url_for('dashboard_user_banners') }}">Баннеры</a>
                </li>
                {% if current_user.role.name in ('designer', 'admin') %}
                <li class="{{active_endpoint('dashboard_backgrounds')}}">
                    <a href="{{ url_for('dashboard_backgrounds') }}">Загрузка фонов</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
        {% block dashboard_content %}
        {% endblock dashboard_content %}
        </div>
    </div>
{% endblock page_content%}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='adminbundle.js') }}"></script>
{% endblock scripts %}
