{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-lg-3">
            <ul class="dashboard-menu">
                <li class="{% if request.url_rule.endpoint == 'dashboard' %}dashboard-menu-active{% endif %}">
                    <a href="{{ url_for('dashboard') }}">Главная</a>
                </li>
                <li class="{% if request.url_rule.endpoint == 'dashboard_user_banners' %}dashboard-menu-active{% endif %}">
                    <a href="{{ url_for('dashboard_user_banners') }}">Баннеры</a>
                </li>
                {% if current_user.role.name in ('designer', 'admin') %}
                <li class="{% if request.url_rule.endpoint == 'dashboard_backgrounds' %}dashboard-menu-active{% endif %}">
                    <a href="{{ url_for('dashboard_backgrounds') }}">Загрузка фонов</a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="col-lg-9">
        {% block dashboard_content %}
        {% endblock dashboard_content %}
        </div>
    </div>
{% endblock page_content%}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='adminbundle.js') }}"></script>
{% endblock scripts %}