{% extends 'user/base_dashboard.html' %}

{% block dashboard_content %}
{% if current_user.role.name in ('designer', 'admin') %}
<div class="row">
  <ul class="nav nav-tabs dashboard-designer-tabs">
    <li class="{{ active_endpoint('dashboard_archive') }}">
      <a href="{{ url_for('dashboard_archive') }}">Мне отправляли на ревью</a>
    </li>
    <li class="{{ active_endpoint('dashboard_additional_archive') }}">
      <a href="{{ url_for('dashboard_additional_archive') }}">Я отправлял</a>
    </li>
  </ul>
</div>
{% endif %}

  {% for review in reviews.items %}
    <div class="dashboard-review-container">
      <div class="review-section row
        {% if review.status == review.Status.accepted %}
          review-section-success
        {% elif review.status == review.Status.not_accepted %}
          review-section-rejected
        {% endif %}">
        <p class="dashboard-review-title">
          <span class="dashboard-reviwer-name">{{ review.designer.last_name }} {{ review.designer.first_name }}</span>
          отправлял на ревью баннер
          <span class="dashboard-review-date">
            {% if review.created_at %}{{ review.created_at|format_date }}{% endif %}
          </span>
        </p>
        <p>
          <b>
            {% if review.status.name == 'accepted' %}
              Одобрено
            {% elif review.status.name == 'not_accepted' %}
              Отклонено
            {% endif %}
          </b>
        </p>
        <div class="col-lg-6">
          {% if review.comment %}
            <p class="dashboard-comment-text"><b>Комментарий: </b> <br>{{ review.comment }}</p>
          {% endif %}

        </div>
        <div class="col-lg-4 col-lg-offset-2 dashboard-banner-preview" data-bazooka="showBannerPopup" data-banner-url="{{ url_for('uploaded_file', filename=review.banner.name) }}">
          <img src="{{ url_for('uploaded_file', filename=review.banner.preview) }}">
        </div>
      </div>
    </div>
  {% else %}
    <p class="dashboard-designer-empty-review bg-info">Здесь пока ничего нет.</a>
  {% endfor %}

  <div class="pagination-container">
    {{ pagination.links }}
  </div>
{% endblock dashboard_content %}