{% extends "user/base_dashboard.html" %}

{% import 'user/macros.html' as macros %}

{% block dashboard_content %}
  {% for banner in banners.items %}
  <div class="dashboard-banners-container">
    <p class="dashboard-banner-title">{{ banner.title }}</p>
    {{ macros.render_banner_container('Показать баннер', banner.name) }}
    <a href="{{ url_for('continue_edit', history_image_id=banner.id) }}" class="btn btn-default">
        Редактировать <i class="glyphicon glyphicon-picture"></i></a>
  </div>
  {% endfor %}

  <div class="pagination-container">
    {{ pagination.links }}
  </div>
{% endblock dashboard_content %}