{% extends "user/base_dashboard.html" %}

{% block dashboard_content %}
    {% for review in reviews %}
    <div class="row">
        <div class="review-section
        {% if review.status == review.Status.accepted %}
        review-section-success
        {% elif review.status == review.Status.not_accepted %}
        review-section-rejected
        {% endif %}">
            <p><b>Отправлено на ревью пользователю <span class="dashboard-reviwer-name">{{ review.designer.last_name }} {{ review.designer.first_name }}</span></b>
                <span class="text-left">
                    {% if review.created_at %}{{ review.created_at.strftime('%H:%M %Y-%m-%d') }}{% endif %}
                </span>
            </p>
            <p>{% if review.reviewed %}Просмотрено{% else %}Не просмотрено{% endif %}</p>
            <p>Название баннера: <span class="dashboard-banner-title">{{ review.banner.title }}</span></p>
            <div class="dashboard-banner-container">
                <span class="dashboard-show-banner" data-bazooka="showBanner">Показать баннер</span>
                <span class="glyphicon glyphicon-arrow-down"></span>
                <img class="dashboard-review-banner img-responsive" imgSrc="{{ url_for('uploaded_file', filename=review.banner.name) }}"/>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock dashboard_content%}