{% extends 'base.html' %}

{% block page_content %}
  <div class="row">
    <div class="col-lg-3 profile-icon-container">
      {% if current_user.gender == current_user.Gender.male %}
        <img src="{{ url_for('static', filename='user/male_icon.png') }}" />
      {% elif current_user.gender == current_user.Gender.female %}
        <img src="{{ url_for('static', filename='user/female_icon.png') }}" />
      {% endif %}
      <div class="profile-user-info">
        <p><span class="profile-user-info-clause">Имя:</span> <span class="profile-user-info-item">{{ current_user.first_name }}</span></p>
        <p><span class="profile-user-info-clause">Фамилия:</span> <span class="profile-user-info-item">{{ current_user.last_name }}</span></p>
        <p><span class="profile-user-info-clause">E-mail:</span> <span class="profile-user-info-item">{{ current_user.email }}</span></p>
        <p><span class="profile-user-info-clause">Дата регистрации:</span> <span class="profile-user-info-item">{{ current_user.created_at.strftime('%H:%M %Y-%m-%d') }}</span></p>
      </div>
    </div>
    <div class="col-lg-8">
      <button class="btn btn-default" data-bazooka="toggleProfileForm">Редактировать профиль <span class="glyphicon glyphicon-pencil"></span></button>
      <div class="profile-edit-form-container">
        <form method="post">
          <div class="form-group">
            <label>Имя:
              <input class="form-control" name="first_name" value="{{ current_user.first_name }}">
            </label>
          </div>
          <div class="form-group">
            <label>Фамилия:
              <input class="form-control" name="last_name" value="{{ current_user.last_name }}">
            </label>
          </div>
          <div class="form-group">
            <label>Пол:
              <select class="form-control" name="gender" autocomplete="off">
                <option value="male" {% if current_user.gender == current_user.Gender.male %}selected{% endif %}>Мужик</option>
                <option value="female" {% if current_user.gender == current_user.Gender.female %}selected{% endif %}>Не мужик</option>
              </select>
            </label>
          </div>
          <div class="form-group">
              <input type="submit" class="btn btn-success" value="Сохранить изменения">
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock page_content %}

{% block scripts %}
  <script src="{{ url_for('static', filename='adminbundle.js') }}"></script>
{% endblock scripts %}