{% extends "base.html" %}

{% block title %}Admin panel{% endblock %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2">
                <ul class="nav nav-pills nav-stacked left-menu" role="tablist">
                    {% if current_user.is_admin() %}
                        <li class="{{active_endpoint('admin_users')}}"><a href="{{ url_for('admin_users')}}">Пользователи</a></li>
                        <li class="{{active_endpoint('admin_backgrounds')}}"><a href="{{ url_for ('admin_backgrounds', tab='active') }}">Фоны</a></li>
                    {% endif %}
                    {% for project in projects_list() %}
                        <li><a href="{{ url_for('admin_project_page', project_id=project.id)}}">{{project.name}}</a></li>
                    {% endfor %}
                    <form method="post" class="form-inline">
                        <div class="input-group">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        </div>
                        <div class="input-group">
                          <input type="text" id="project" name="project" class="form-control" required placeholder="Введите имя">
                            <span class="input-group-btn">
                                 <button type="submit" class="btn btn-default">
                                    <i class = "glyphicon glyphicon-ok"></i>
                                 </button>
                            </span>
                        </div>
                    </form>
                </ul>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-10">
                {% block admin_content %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='adminbundle.js') }}"></script>
{% endblock %}
