{% extends "base.html" %}

{% block title %}Admin panel{% endblock %}

{% block page_content %}


    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-3 col-lg-2">
                <h2>Меню</h2>
                <ul class="nav nav-pills nav-stacked" role="tablist">
                    {% if current_user.role.name == 'admin' %}
                        <li  {% if request.url_rule.endpoint == "admin_users" %}class="active"{% endif %}><a href="{{ url_for('admin_users')}}">Пользователи</a></li>
                        <li {% if request.url_rule.endpoint == "admin_backgrounds" %}class="active"{% endif %}><a href="{{ url_for ('admin_backgrounds', tab='active') }}">Фоны</a></li>
                    {% endif %}
                    <li {% if request.url_rule.endpoint == "admin_projects" %}class="active"{% endif %}><a href="{{ url_for('admin_projects')}}">Проекты</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-md-9 col-lg-10">
                {% block admin_content %}{% endblock %}
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='adminbundle.js') }}"></script>
{% endblock %}

