{% extends "admin/admin.html" %}


{% block admin_content %}


<h2>Фоны</h2>

    <ul class= "nav nav-tabs">
        <li {% if request.url_rule.endpoint == "admin_backgrounds_active" %} class="active"{% endif %}><a data-toggle="tab" href="{{ url_for('admin_backgrounds_active', tab='active') }}">Активные фоны</a></li>
        <li {% if request.url_rule.endpoint == "admin_backgrounds_inactive" %} class="active"{% endif %}><a data-toggle="tab" href="{{ url_for('admin_backgrounds_inactive', tab='inactive') }}">Неактивные фоны</a></li>

        <div data-bazooka="backgroundsAdmin" data-backgrounds-admin-backgrounds='{{ backgrounds }}' data-backgrounds-admin-tab='{{ tab }}'></div>
    </ul>

    <div class="text-center">
        {{ pagination.links }}
    </div>
{% endblock %}


