{% extends "admin/admin.html" %}

{% import 'user/macros.html' as macros %}

{% block head %}
    {{ super() }}
    {{ macros.load_project_fonts(project) }}
{% endblock %}

{% block admin_content %}

<h2>{{ project.name }}</h2>

<div class="row">
    <h3>Загруженные шрифты</h3>
    <div data-bazooka="projectsPanel" data-projects-font-list="{{ fonts }}"></div>

    <div>
        <form class="form-horizontal" action="{{ url_for('add_font', project_id=project.id) }}" method=post enctype=multipart/form-data>
            <div class="form-group">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            </div>
            <div class="form-group">
                <label for="font_name" class="col-md-2">Название шрифта</label>
                <div class="col-md-10">
                    <input class="form-control" id="font_name" name="font_name" type="text" required>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" data-bazooka="uploadButton">
                    <i class="glyphicon glyphicon-cloud-upload"></i> Custom Upload
                </button>
                <input id="upload" type='file'>
                <label for="upload"></label>
            </div>
            <div class="form-group">
                <input class="btn btn-default" type="submit" role="button" value="Загрузить">
            </div>
        </form>
    </div>
</div>

{% endblock %}
