{% extends "admin/admin.html" %}

{% import 'user/macros.html' as macros %}

{% block head %}
    {{ super() }}
    {{ macros.load_project_fonts(project) }}
{% endblock %}

{% block admin_content %}

<h2>{{ project.name }}</h2>

    <ul class= "nav nav-tabs">
        <li class="{{active_tab('fonts')}}"><a href="{{ url_for('admin_project_page', project_id=project.id, tab='fonts')}}">Шрифты</a></li>
        <li class="{{active_tab('headers')}}"><a href="{{ url_for('admin_project_page', project_id=project.id, tab='headers')}}">Стили</a></li>
        <li><a href="">Фоны</a></li>
        <li class="{{active_tab('button')}}"><a href="{{ url_for('admin_project_page', project_id=project.id, tab='button')}}">Кнопка</a></li>
    </ul>
    <div class="container-fluid">{% block admin_projects_content %}{% endblock %}</div>


{% endblock %}
